	<nav id="dl-menu" class="dl-menuwrapper" role="navigation">
		<button class="dl-trigger">Open Menu</button>
		<ul class="dl-menu">
			<li><a href="{{ site.url }}/">Home</a></li>
			<li>
					<a href="{{ site.url }}/products/">Solutions</span></a></li>
				</li>
			<li>
				<a href="{{ site.url }}/about/">About</span></a></li>
			</li>
			{% for link in site.data.navigation %}
		    {% if link.url contains 'http' %}
		        {% assign domain = '' %}
		        {% else %}
		        {% assign domain = site.url %}
		    {% endif %}
		    <li><a href="{{ domain }}{{ link.url }}" {% if link.url contains 'http' %}target="_blank" rel="noopener noreferrer"{% endif %}>{{ link.title }}</a></li>
		  {% endfor %}
          <li>
				<a href="#">Contact</a>
				<ul class="dl-submenu">
					<li>
						<img src="../assets/img/contact.png">
						<p>For questions about Airon Ventures, its businesses and opportunities, please contact us by topic, below:</p>
                        <p>info@metatensor.com</p>
                        <p>sales@metatensor.com</p>
                        <p>support@metatensor.com</p>
                        <p>partnership@metatensor.com</p>
                </ul>
          </li>
		</ul><!-- /.dl-menu -->
	</nav><!-- /.dl-menuwrapper -->
